
.home-content{
    width: 100%;
    height: auto;
    background-size: cover;
   
    background-image: url("../images/pexels-tirachard-kumtanom-574285.jpg");
   
}
.content{
    text-align: center;
    padding-top: 200px;
}
.button{
    margin-right:10px ;
}
.button button{
    height: 35px;
    margin-top: 10px;
    
    background-color: transparent;
    border-color: #CE8A4B;
    /* color: #CE8A4B; */
}
.nav{
    cursor: pointer;
}
a{
    color: white;
}

.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
 margin-top: 70px;
  }
  .card{
    margin-left: 20px;
  }
  .cards{
    display: flex;
    
  }